<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SendEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings />
	<userSettings>
		<SendEmail.Properties.Settings>
   <setting name="SmtpServer" serializeAs="String">
    <value>smtp.gmail.com</value>
   </setting>
   <setting name="EmailAuthen" serializeAs="String">
    <value>teamdevelop.mst@gmail.com</value>
   </setting>
   <setting name="PasswordAuthen" serializeAs="String">
    <value>m$T@2021</value>
   </setting>
   <setting name="FromEmail" serializeAs="String">
    <value>teamdevelop.mst@gmail.com</value>
   </setting>
   <setting name="Subject" serializeAs="String">
    <value>[ทดสอบ] Restart elastic service ไม่สำเร็จ</value>
   </setting>
   <setting name="SmtpPort" serializeAs="String">
    <value>587</value>
   </setting>
   <setting name="Ssl" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ToEmail" serializeAs="String">
    <value>ratchanon.s@magicsoftware.co.th,takneekar.s@magicsoftware.co.th</value>
   </setting>
   <setting name="CcEmail" serializeAs="String">
    <value>choosak.j@magicsoftware.co.th</value>
   </setting>
   <setting name="Body" serializeAs="String">
    <value>&lt;div&gt;ระบบไม่สามารถ restart elastic service ไม่สำเร็จ โปรดตรวจสอบ&lt;/div&gt;</value>
   </setting>
  </SendEmail.Properties.Settings>
	</userSettings>
</configuration>